* {
  font-family: Tahoma;
  -webkit-tap-highlight-color: transparent;
}

::selection {
  background: hsl(14, 45%, 65%);
  color: hsl(14, 75%, 25%);
}

.m-p-0 {
  margin: 0;
  padding: 0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sticky {
  position: sticky;
}

.fixed {
  position: fixed;
}

.bot-shadow {
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.25);
}

.shadow {
  box-shadow: 0px 3px 8px 2px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 3px 8px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 3px 8px 2px rgba(0, 0, 0, 0.25);
}

.head {
  margin-bottom: 1rem;
  padding-left: 1.75rem;
  top: 0;
  background-color: whitesmoke;
  z-index: 999;
}

.head > h1 {
  font-family: monospace;
}

.m-25 {
  margin: 0.25rem;
}

.m-50 {
  margin: 0.5rem;
}

.m-75 {
  margin: 0.75rem;
}

.p-25 {
  padding: 0.25rem;
}

.p-50 {
  padding: 0.5rem;
}

.p-75 {
  padding: 0.75rem;
}

.text-center {
  text-align: center;
}

.simple-btn {
  border: 0.08rem solid hsl(180, 100%, 40%);
  background-color: transparent;
  outline: none;
  cursor: pointer;
  color: hsl(180, 100%, 40%);
}

.simple-btn:active,
.simple-btn:hover {
  outline: none !important;
}

.h-w-250 {
  width: 2.5rem;
  height: 2.5rem;
}

.circle {
  border-radius: 50%;
}

.rounded-edge {
  border-radius: 0.25rem;
}

.tooltip {
  display: inline-block;
  position: relative;
  text-align: center;
}

.tooltip .top {
  min-width: 10rem;
  top: -20px;
  left: 50%;
  transform: translate(-50%, -100%);
  padding: 10px 20px;
  color: hsl(14, 20%, 70%);
  background-color: hsl(14, 75%, 35%);
  font-weight: normal;
  font-size: 13px;
  border-radius: 8px;
  position: absolute;
  z-index: 9999;
  box-sizing: border-box;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.8s;
  transition-delay: 2s;
}

.tooltip:hover .top {
  visibility: visible;
  opacity: 1;
}

.tooltip .top i {
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -12px;
  width: 24px;
  height: 12px;
  overflow: hidden;
}

.tooltip .top i::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: hsl(14, 75%, 35%);
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
}

.simple-btn.circle.tooltip:hover .top {
  z-index: -1;
  opacity: 0;
}

.simple-btn.circle.tooltip .top {
  min-width: max-content;
  height: min-content;
  transition: opacity 0.8s, z-index 0.8s;
}

.simple-btn.circle.tooltip:active .top {
  transition-delay: 0.5s;
  opacity: 1;
  z-index: 9999;
}

.simple-btn:hover {
  border-color: hsl(14, 75%, 25%);
}

.cls-1 {
  fill: #0e6ae0;
}

.cls-2 {
  fill: #d8e1ef;
}

.cls-3 {
  fill: #0593ff;
}

.simple-btn.circle:hover .cls-1 {
  fill: hsl(14, 75%, 35%);
}

.simple-btn.circle:hover .cls-3 {
  fill: hsl(14, 75%, 25%);
}

.simple-btn.circle:hover .cls-2 {
  fill: hsl(14, 20%, 70%);
}

.simple-btn.circle:hover .bin {
  fill: hsl(14, 75%, 35%);
}

.simple-btn.circle:hover .complete {
  stroke: hsl(14, 75%, 35%);
}

.simple-btn.circle:hover .pencil {
  fill: hsl(14, 75%, 35%);
}
.simple-btn:hover {
  color: hsl(14, 75%, 35%);
}

.pencil {
  fill: hsl(180, 100%, 40%);
}

.bin {
  fill: hsl(180, 100%, 40%);
}

.complete {
  stroke: hsl(180, 100%, 40%);
}

.simple-btn-fab {
  width: 3rem;
  height: 3rem;
  outline: none;
  border: none;
  background-color: hsl(180, 100%, 40%);
  cursor: pointer;
}

.FabWrapper {
  width: max-content;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.simple-btn-fab:hover {
  outline: none !important;
  background-color: hsl(14, 75%, 35%);
}

.simple-btn-fab:active {
  outline: none;
  background-color: hsl(14, 75%, 25%);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.25);
}

.search-bar {
  outline: none;
  max-width: 25rem;
  width: 70%;
  height: 1rem;
  border: 0.1rem solid hsl(180, 100%, 40%);
  font-size: 0.9rem;
  font-family: Tahoma;
}

.search-bar:hover {
  border-color: hsl(14, 75%, 35%);
}

.search-bar:focus {
  border-color: hsl(14, 75%, 25%);
}

.Todo {
  max-width: 40rem;
  width: 70%;
  justify-content: space-around;
  border: 2px solid transparent;
}

.Todo > p {
  max-width: 25rem;
  max-height: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: auto;
  margin: auto;
  color: hsl(14, 75%, 35%);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.Todo:hover > p {
  color: hsl(14, 75%, 25%);
}

.u-select-n {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.Todo:hover {
  background-color: hsl(14, 45%, 65%);
}

.Todo:hover .simple-btn.circle:not(:hover) {
  border-color: hsl(0, 0%, 100%);
}

.Todo:hover .simple-btn.circle:not(:hover) .bin,
.Todo:hover .simple-btn.circle:not(:hover) .pencil {
  fill: hsl(0, 0%, 100%);
}

.Todo:hover .simple-btn.circle:not(:hover) .complete {
  stroke: hsl(0, 0%, 100%);
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.wrap {
  flex-wrap: wrap;
}

.pop-up-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsla(14, 75%, 25%, 0.1);
  z-index: 9999;
}

.todo-complete {
  background-color: hsl(120, 80%, 40%);
}

.todo-complete > p {
  color: hsl(0, 0%, 100%);
}

.todo-complete:hover {
  background-color: hsl(120, 70%, 35%);
}

.todo-complete:hover > p {
  color: hsl(0, 0%, 100%);
}

.todo-complete .simple-btn.circle:not(:hover) {
  border-color: hsl(0, 0%, 100%);
}

.todo-complete .simple-btn.circle:not(:hover) .bin,
.todo-complete .simple-btn.circle:not(:hover) .pencil {
  fill: hsl(0, 0%, 100%);
}

.todo-complete .simple-btn.circle:not(:hover) .complete {
  stroke: hsl(0, 0%, 100%);
}

.todo-complete .simple-btn.circle:hover {
  border-color: hsl(15, 35%, 70%);
}

.todo-complete .simple-btn.circle:hover .bin,
.todo-complete .simple-btn.circle:hover .pencil {
  fill: hsl(15, 35%, 70%);
}

.todo-complete .simple-btn.circle:hover .complete {
  stroke: hsl(15, 35%, 70%);
}

.todo-complete .simple-btn.circle.tooltip .top {
  color: hsl(0, 0%, 100%);
  background-color: hsl(14, 25%, 45%);
}

.todo-complete .simple-btn.circle.tooltip .top i::after {
  background-color: hsl(14, 25%, 45%);
}
